<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="icon" href="/img/weather.png" />
</head>
<body>
    {{>header}}
    <div class="content">
        <p>Welcome to yet another weather app. This site uses data from MabBox.com and DarkSky.net.</p>
        <img src="/img/me.jpg" class="portrait" />
        <p class="desc">Created by {{name}}</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <h4>Enjoy!</h4>
    </div>
    {{>footer}}
</body>
</html>