<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="icon" href="/img/weather.png" />
</head>
<body>
    {{>header}}
    <div class="content">
        <p>Welcome to yet another weather app. This app demonstrates node.js and Express with handlebar templates, using the Dark Skies and MapBox APIs. Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores aliquid beatae sapiente vitae reprehenderit, corporis harum ipsum veniam quis quia provident, necessitatibus quidem, eius facilis eveniet iusto quod consequatur voluptatum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint corporis praesentium officia, enim, itaque vitae esse, vero quos aperiam nostrum recusandae velit et? Quae neque perferendis voluptates maiores ut aliquam.</p>
        <img src="/img/me.jpg" class="portrait" />
        <p class="desc">Created by {{name}}</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <h4>Enjoy!</h4>
    </div>
    {{>footer}}
</body>
</html>