<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="icon" href="/img/weather.png" />
</head>
<body>
    {{>header}}  
    <div class="content">
        <h2>Current Weather and Forecast Information</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus laudantium ratione, placeat quasi quidem vero porro sapiente amet nobis quo minus enim esse optio rem doloremque, quibusdam obcaecati? Amet, quas.</p>
        <h3>Get the weather!</h3>
        <form>
            <input type="text" name="" placeholder="Location" />
            <button>Search</button>
        </form>
        <p id="msg1"></p>
        <p id="msg2"></p>
    </div>  
    {{>footer}}
    <script src="/js/app.js"></script>    
</body>
</html>